.modal-wrapper {
  position: fixed;
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  .modal-third {
    background-color: white;
    //background-color: rgb(0, 255, 251);
    width: 800px;
    height: 700px;
    padding-inline: 2rem;
  }
}

.modal3 {
  &__container {
    display: flex;
    width: 100%;
  }
  &__wrapper {
    display: flex;
    width: 100%;
    flex-direction: column;
    padding-inline: 1rem;
  }
  &__header {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    text-align: justify;
  }
  &__input {
    height: 31px;
    width: 178px;
  }
  &__form-cancelicon {
    position: relative;
    left: 160px;
    top: 6px;
  }
  &__title {
    font-size: 42px;
    line-height: 44px;
  }
  &__subtitle {
    font-size: 16px;
    margin-bottom: 30px;
  }
  &__cards {
    display: flex;
    width: 100%;
    justify-content: space-between;
  }
  &__card {
    display: flex;
    flex-direction: column;
    width: 30%;
    &-img {
      display: flex;
    }
    &-product {
      max-width: 100%;
      max-height: 100%;
    }
    &-info {
      display: flex;
      flex-direction: column;
      padding-inline: 0.5rem;
    }
    &-infotitle {
      font-size: 10px;
      font-weight: 800;
    }
    &-infosubtitle {
      display: flex;
      flex-direction: row;
      margin-bottom: 40px;
    }
    &-infosubtitletext {
      font-size: 10px;
      background-color: #aee9d1;
      border-radius: 10px;
      padding: 4px;
    }
    &-infobottom {
      display: flex;
      width: 100%;
      padding-inline: 0.5rem;
      margin-bottom: 2rem;
    }
    &-avatar {
      height: 1.5rem;
      margin-right: 1rem;
    }
    &-button {
      border: 0;
      font-size: 0.5rem;
      text-align: center;
      color: white;
      background-color: #008060;
      height: 1.5rem;
      border-radius: 5px;
      padding: 4px;
    }
  }
}

.text-left {
  margin-right: 0.5rem;
  background-color: #aee9d1;
  border-radius: 10px;
  padding: 4px;
}

button {
  width: 120px;
}

h1 {
  margin-top: 90px;
  margin-bottom: 40px;
}

.card-info__wrapper {
  border: 1px solid #8c9196;
}
