@use "../../styles/partials/colours" as *;

.nav {
  width: 15rem;
  border-right: 1px solid grey;
  height: 94.8vh;
  position: relative;
  &__links-list {
    padding: 1rem 0.5rem 0 1rem;
    box-sizing: border-box;
    list-style: none;
    margin: 0;
  }
  &__list-item {
    padding: 0.2rem 0;
    font-weight: 600;
    display: flex;
    align-items: center;
    color: $primary-color-two;
    &--home {
      background-color: $primary-color-one;
      color: $primary-color-three;
      border-radius: 4px;
    }
    &--bottom {
      padding-left: 1rem;
      position: absolute;
      bottom: 20px;
    }
  }
  &__item-img {
    width: 16px;
    height: 16px;
  }
  &__item-text {
    margin-left: 0.6rem;
  }
}

.additional-list {
  box-sizing: border-box;
  padding: 0 0.5rem 0 1rem;
  margin-top: 2rem;
  &__title {
    color: $primary-color-two;
    font-size: 0.75rem;
  }
  &__title-wrapper {
    display: flex;
    align-items: center;
    .additional-list__title {
      margin-left: 0.5rem;
    }
  }
  &__item {
    margin-top: 0.7rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__item-title {
    margin-left: 0.6rem;
    color: $primary-color-two;
    font-weight: 600;
  }
}
